@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.atrribution_div{width: calc(90vw - 15px); position: fixed ; bottom: 0px; left : 10px; color: black;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html{
    overflow-x: hidden;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    background-color: hsl(234, 17%, 12%);
}
@media only screen and (max-height: 700px){
    body{
        min-height: 700px;
        overflow-y: auto;
    }
}
@media only screen and (min-height: 700px){
    body{
        overflow: hidden;
        min-height: 100vh;
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bg_stars1,
.bg_stars2,
.bg_stars3,
.bg_hills{
    position: absolute;
    width: 100vw;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_stars1,
.bg_stars2,
.bg_stars3{
    top: 0;
    height: 100vh;
    background-image: url("./images/bg-stars.svg");
    background-size: cover;
    animation: slidedown2 10s infinite ease-in-out; 
}
.bg_stars1{
    top: -100vh;
    animation: slidedown1 10s infinite ease-in-out;
}
.bg_stars3{
    top: 100vh;
    animation: slidedown3 10s infinite ease-in-out;
}

@keyframes slidedown2{
    0%{
        top: 00vh;
    }
    45%{
        height: 0;
        top: 100vh;
    }
    46%{
        opacity: 0;
    }
    47%{
        height: 0;
        top: -100vh
    }
    50%{
        height:100vh;
        opacity: 1;
    }
    100%{
        top: 0;
    }
}
@keyframes slidedown1{
    0%{
        height: 100vh;
        top: -100vh;
    }
    10%{
        opacity: 1;
    }
    30%{
        top: 0;
        height:100vh;
    }
    95%{
        height: 0;
        top: 100vh;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slidedown3{
    0%{
        top: 100vh;
        height: 0;
    }
    10%{
        opacity: 0;
    }
    15%{
        height: 0;
        top : -100vh;
    }
    20%{
        height: 100vh;
        opacity: 1;
    }
    60%{
        top:0vh;
    }
    100%{
        top: 100vh;
        height: 0;
    }
}

.bg_hills{
    // width: 1440px;
    bottom: 0;
    left: 0;
    height: 13.7vw;
    background-image: url("./images/pattern-hills.svg");
    background-size: 100%;
    animation: slideleft2 10s infinite ease-in-out; 
}



h1{
    margin-top: 9.4vw;
    letter-spacing: .45rem;
    color:hsl(0, 0%, 100%);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.clock_box{
    display: flex;
    width:100%;
    justify-content: center;
    margin-top: 6.5rem;
    .clock{
        width:9.3rem;
        height:12rem;
        margin: 0 1rem;
        position: relative;
        overflow: hidden;
        div{
            position: absolute;
            width: 100%;
            height: 8.7rem;
            border-radius: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: hsl(345, 95%, 68%);
            font-size: 5rem;
            clip-path: inset(50% 0 0 0);
            background-color: hsl(236, 21%, 26%);
        }
        div:nth-child(1){
            clip-path: none;
            box-shadow: 0 10px 10px -5px black;
            clip-path: inset(0 0 50% 0);
            opacity: 0;
            transform: rotateX(0deg);
        }
        div:nth-child(2),div:nth-child(3){
            clip-path: inset(0 0 50% 0);
            color: hsl(345, 60%, 56%);
            background-color: rgb(44, 44, 68);
        }
        p{
            position: absolute;
            bottom: .5rem;
            width: 100%;
            color: hsl(237, 18%, 59%);
            text-transform: uppercase;
            letter-spacing: .35rem;
        }
        &::before,&::after{
            content: '';
            position: absolute;
            width: 15px;height:15px;
            top: calc(4.35rem - 7.5px);
            background: black;
            border-radius: 9in;
            z-index: 20000000000;
        }
        &::before{
            left:-7.5px;
        }
        &::after{
            right:-7.5px;
        }
    }
}
.media{
    position: absolute;
    bottom: 4.5rem;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div{
        width:1.5rem;height:1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 1rem;
        background-size: 100% 100%;
        transition: all .3s ease-in-out;

        &:nth-child(1){
            background-image: url("./images/icon-facebook.svg");
            &:hover{
                background-image: url("./images/icon-facebook-red.svg");
            }
        }
        &:nth-child(2){
            background-image: url("./images/icon-pinterest.svg");
            &:hover{
                background-image: url("./images/icon-pinterest-red.svg");
            }
        }
        &:nth-child(3){
            background-image: url("./images/icon-instagram.svg");
            &:hover{
                background-image: url("./images/icon-instagram-red.svg");
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .bg_stars{
        height: 100%;
        background-size: 100% 100%;
    }
    .bg_hills{
        bottom: 0;
        height: 13.7vw;
        zoom: 3;
    }
    h1{
        padding: 0 5vw;
        margin-top: 20vw;
        letter-spacing: 1.5vw;
        font-size: 5vw;
    }
    .clock_box{
        margin-top: 15vw;
    .clock{
        width:20vw;
        height:25vw;
        margin: 0 1.5vw;
        div{
            height: 17.5vw;
            border-radius: .3rem;
            font-size: 10vw;
        }
        p{
            bottom: 1.5vw;
            letter-spacing: .8vw;
            font-size: 2vw;
        }
        &::before,&::after{
            width:2.5vw;height:2.5vw;
            top: calc(8.75vw - 1.25vw);
        }
        &::before{
            left:-1.25vw;
        }
        &::after{
            right:-1.25vw;
        }
    }
}
}
@media only screen and (max-width: 550px){
    h1{
        margin-top: 25vw;
    }
}
@media only screen and (max-width: 400px){
    h1{
        margin-top: 32vw;
    }
}
